body{
  margin: 0;
  padding: 0;
  font: 14px 'Lato';
}

h1{
  font-weight: 100;

}

.flex-cont{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
 -webkit-flex-flow: row wrap;
  width: 100%;
  flex-wrap: wrap;
}

.row{
  background: rgb(255, 0, 99);
  flex-grow: 1;
  min-width: 25%;
  /*min-width: 600px;*/
  height: 100vh;
  z-index: 1;
  /*border: 1px solid blue;*/
  background-repeat: no-repeat;
  background-position: center;
}

.row:nth-child(2){
  opacity: .7;
}

.row:nth-child(3){
  opacity: .5;
}

.row:hover{
  /*width: 50%;*/
  /*-webkit-transition: flex-grow 1s ease-in;
  -moz-transition: flex-grow 1s ease-in;
  -o-transition: width 1s ease-in;*/
  transition: flex-grow 1s ease-in;
  flex-grow: 2;

}

.inner{
  display: inline-block;
  float: right;
  width: 50%;
  height: 100%;
  position: absolute;
  right: -50%;
  background: rgba(255, 203, 211,0.7);
}

/*.widen{
  width: 50%;
}

.shrink{
  width: 25%;
}*/

.row:hover .inner{
  /*background: rgba(255, 203, 211,.7);*/
  right: 0%;
  width: 50%;
  transition: all 1s ease-in;
  /*width: 50%;*/
}


/*.row:hover{
  background: rgba(255, 203, 211,.7);
  transition: background 1s ease-in;
  z-index: 2;
  width: 50%;
}*/


@media screen and (max-width: 600px){
  .row{
    width: 100%;
  }

  .inner{
    width: 100%;
  }


}
