body{
  margin: 0;
  padding: 0;
  font: 14px 'Lato';
}

h1{
  font-weight: 100;

}

h2{
  font-weight: 300;
  padding: 0 10px 0 10px;
}

.text-block h2{
  text-align: center;

}
.text-block h1{
  text-align: center;
  font-weight: 300;

}

a{
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}

p{
  padding: 20px;
}
iframe{
  width: 100%;
  height: 100vh;
}

a:hover{
  /*transition: border 3s ease;*/
  border-bottom: 1px solid #fff;
  /*text-decoration: underline;*/
}

.page-1{
  height: 100vh;
}

.flex-cont{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
 -webkit-flex-flow: row wrap;
  width: 100%;
  flex-wrap: wrap;
}

.row{
  background: rgb(255, 0, 99);
  flex-grow: 1;
  min-width: 25%;
  /*min-width: 600px;*/
  height: 100vh;
  z-index: 1;
  /*border: 1px solid blue;*/
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;


}

.side-shadow{

  /*-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;*/
          box-shadow: 8px -1px 6px -8px black;
}

.block-head{
  padding-left: 50px;
  /*position: absolute;*/
}

.text-block{
  max-width: 600px;
  margin: 0 auto;
  font-weight: 300;
}

/*.row:nth-child(2){
  opacity: .8;
}

.row:nth-child(3){
  opacity: .7;
}*/

.row:hover{
  /*width: 50%;*/
  /*-webkit-transition: flex-grow 1s ease-in;
  -moz-transition: flex-grow 1s ease-in;
  -o-transition: width 1s ease-in;*/
  transition: flex-grow 1s ease-in;
  flex-grow: 3;

}

.inner{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  right: -100%;
  background: rgba(255, 203, 211,0.7);
  padding-top: 50px;
  text-align: center;
}



.row:hover .inner{
  right: -50%;
  width: 50%;
  transition: all 1s ease;


}

.b-pad{
  padding-bottom: 100px;
}

.body-link a{
  color: #41bcdd;

}

.footer{
  font-weight: 100;
  color: #8e8b8b;
  background-color: #222;
}


@media screen and (max-width: 800px){
  .row{
    display: block;
    width: 100%;
    height: 1200px;

  }

  .row:hover .inner{
    /*all: unset;*/
    right: 0;
    width: 100%;
    transition: none;
    top: 50%;
  }

  .inner{
    position: relative;
    right: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    display: block;
  }

  .row:last-of-type{
    height: 800px;
    /*background-position:center;*/
  }


}
